In [1]:
#importing dataset from the excel file
import pandas as pd

df=pd.read_csv(r"C:\Users\Rizwana\Desktop\Accenture - data science program\WIDS Project Pack\Project Information Pack 2024\insurance_fraud.csv")
df.head(5)

C:\Users\Rizwana\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\Rizwana\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

,Month,Make,AccidentArea,MonthClaimed,Sex,MaritalStatus,Fault,VehicleCategory,VehiclePrice,Deductible,...,PoliceReportFiled,WitnessPresent,AgentType,AddressChange_Claim,NumberOfCars,BasePolicy,FraudFound_P,PolicyNumber,Year,RegistrationDate
0,Jul,Honda,Urban,Sep,Male,Single,Policy Holder,Sedan,96494,400.0,...,No,No,External,no change,1 vehicle,All Perils,1.0,509343533,2023,05 January 2023
1,Jul,Honda,Rural,Jan,Male,Married,Policy Holder,Sport,89807,400.0,...,No,No,External,no change,1 vehicle,Collision,1.0,600000326,2023,09 November 2020
2,Jul,Honda,Urban,Aug,Male,Married,Policy Holder,Sedan,25517,400.0,...,No,No,External,no change,1 vehicle,Collision,1.0,935545676,2023,24 February 2016
3,Nov,Honda,Urban,Jan,Male,Single,Policy Holder,Sport,70903,400.0,...,No,No,External,no change,1 vehicle,Collision,1.0,620550528,2023,30 April 2017
4,Nov,Toyota,Urban,Jan,Male,Married,Policy Holder,Sedan,28016,400.0,...,No,No,External,no change,1 vehicle,Collision,1.0,795966429,2023,21 May 2017

# Understanding Dataset & Cleaning

In [2]:
# Get unique values from multiple columns
unique_values_dict = {}
for column in df.columns:
    unique_values_dict[column] = df[column].unique()

# Print unique values for each column
for column, unique_values in unique_values_dict.items():
    print(f"Unique values in '{column}': {unique_values}")

Unique values in 'Month': ['Jul' 'Nov' 'Dec' 'Jan' 'Aug' 'Feb' 'Mar' 'Jun' 'Apr' 'May' 'Oct' 'Sep']
Unique values in 'Make': ['Honda' 'Toyota' 'Chevrolet' 'Accura' 'Mazda' 'Pontiac' 'Ford' nan 'VW'
 'Dodge' 'Saab' 'Nissan' 'Saturn' 'Mercury' 'Mercedes' 'BMW' 'Jaguar'
 'Porsche' 'Ferrari' 'Lexus']
Unique values in 'AccidentArea': ['Urban' 'Rural']
Unique values in 'MonthClaimed': ['Sep' 'Jan' 'Aug' 'Dec' 'May' 'Nov' 'Feb' 'Apr' 'Mar' 'Oct' 'Jul' 'Jun']
Unique values in 'Sex': ['Male' 'MALE' 'Female' nan 'FEMALE']
Unique values in 'MaritalStatus': ['Single' 'Married' 'Divorced' 'Widow']
Unique values in 'Fault': ['Policy Holder' 'Third Party']
Unique values in 'VehicleCategory': ['Sedan' 'Sport' 'Utility']
Unique values in 'VehiclePrice': [96494 89807 25517 ... 37556 34145 14796]
Unique values in 'Deductible': [400. 500. 700. 300.  nan 379. 391. 354. 321. 380. 310. 333. 311. 320.
 322. 324. 377. 355.]
Unique values in 'DriverRating': [ 1.  4. -2.  3.  2. nan]
Unique values in 'Days_Policy_Accident': ['more than 30' 'none' '1 to 7' '8 to 15' '15 to 30']
Unique values in 'Days_Policy_Claim': ['more than 30' '8 to 15' '15 to 30' 'none']
Unique values in 'PastNumberOfClaims': ['none' '1' 'more than 4' '2 to 4']
Unique values in 'AgeOfPolicyHolder': ['25 and under' 'over 25']
Unique values in 'PoliceReportFiled': ['No' 'Yes' nan]
Unique values in 'WitnessPresent': ['No' nan 'Yes']
Unique values in 'AgentType': ['External' 'Internal']
Unique values in 'AddressChange_Claim': ['no change' 'under 6 months' '4 to 8 years' '2 to 3 years' '1 year']
Unique values in 'NumberOfCars': ['1 vehicle' '2 vehicles' '3 to 4' '5 to 8' 'more than 8']
Unique values in 'BasePolicy': ['All Perils' 'Collision' 'Liability']
Unique values in 'FraudFound_P': [ 1. nan  0.]
Unique values in 'PolicyNumber': [509343533 600000326 935545676 ... 326323473 882280414 319908543]
Unique values in 'Year': [2023]
Unique values in 'RegistrationDate': ['05 January 2023' '09 November 2020' '24 February 2016' ... '15 May 2021'
 '14 October 2020' '09 July 2023']

In [3]:
print(df.isnull().sum())
print('\n')
print("total rows in the df -")
print(len(df))

Month                     0
Make                     97
AccidentArea              0
MonthClaimed              0
Sex                      96
MaritalStatus             0
Fault                     0
VehicleCategory           0
VehiclePrice              0
Deductible              111
DriverRating            107
Days_Policy_Accident      0
Days_Policy_Claim         0
PastNumberOfClaims        0
AgeOfPolicyHolder         0
PoliceReportFiled       101
WitnessPresent          107
AgentType                 0
AddressChange_Claim       0
NumberOfCars              0
BasePolicy                0
FraudFound_P             88
PolicyNumber              0
Year                      0
RegistrationDate          0
dtype: int64


total rows in the df -
20336

In [4]:
#Handling the null values in the dataset

df['Deductible'] = df['Deductible'].fillna(df['Deductible'].mean())

# round the mean to a whole number instead of float to stick to the scale provided (1 to 4)
mean_driver_rating = df['DriverRating'].mean()
rounded_mean_driver_rating = round(mean_driver_rating)
df['DriverRating'] = df['DriverRating'].fillna(rounded_mean_driver_rating)

columns_to_check = ['Make', 'Sex', 'PoliceReportFiled','WitnessPresent','FraudFound_P'] #try mode
df.dropna(subset=columns_to_check, inplace=True)

df.isnull().sum()

Month                   0
Make                    0
AccidentArea            0
MonthClaimed            0
Sex                     0
MaritalStatus           0
Fault                   0
VehicleCategory         0
VehiclePrice            0
Deductible              0
DriverRating            0
Days_Policy_Accident    0
Days_Policy_Claim       0
PastNumberOfClaims      0
AgeOfPolicyHolder       0
PoliceReportFiled       0
WitnessPresent          0
AgentType               0
AddressChange_Claim     0
NumberOfCars            0
BasePolicy              0
FraudFound_P            0
PolicyNumber            0
Year                    0
RegistrationDate        0
dtype: int64

In [5]:
# Replace 'MALE' with 'male' in the 'Sex' column
df['Sex'] = df['Sex'].replace('MALE', 'Male')

# Replace 'MALE' with 'male' in the 'gender' column
df['Sex'] = df['Sex'].replace('FEMALE', 'Female')

In [6]:
# Define a function to convert different date formats to ISO 8601 and standardise them 
def convert_to_iso(date):
    try:
        return pd.to_datetime(date).strftime('%Y-%m-%d')
    except ValueError:
        try:
            return pd.to_datetime(date, format='%d %B %Y', errors='raise').strftime('%Y-%m-%d')
        except ValueError:
            return pd.to_datetime(date, errors='coerce').strftime('%Y-%m-%d')

# Apply the function to the 'RegistrationDate' column
df['RegistrationDate'] = df['RegistrationDate'].apply(convert_to_iso)

In [7]:
df['RegistrationDate_Year'] = pd.to_datetime(df['RegistrationDate']).dt.year
df['RegistrationDate_Month'] = pd.to_datetime(df['RegistrationDate']).dt.month
df['RegistrationDate_Day'] = pd.to_datetime(df['RegistrationDate']).dt.day

df

,Month,Make,AccidentArea,MonthClaimed,Sex,MaritalStatus,Fault,VehicleCategory,VehiclePrice,Deductible,...,AddressChange_Claim,NumberOfCars,BasePolicy,FraudFound_P,PolicyNumber,Year,RegistrationDate,RegistrationDate_Year,RegistrationDate_Month,RegistrationDate_Day
0,Jul,Honda,Urban,Sep,Male,Single,Policy Holder,Sedan,96494,400.0,...,no change,1 vehicle,All Perils,1.0,509343533,2023,2023-01-05,2023,1,5
1,Jul,Honda,Rural,Jan,Male,Married,Policy Holder,Sport,89807,400.0,...,no change,1 vehicle,Collision,1.0,600000326,2023,2020-11-09,2020,11,9
2,Jul,Honda,Urban,Aug,Male,Married,Policy Holder,Sedan,25517,400.0,...,no change,1 vehicle,Collision,1.0,935545676,2023,2016-02-24,2016,2,24
3,Nov,Honda,Urban,Jan,Male,Single,Policy Holder,Sport,70903,400.0,...,no change,1 vehicle,Collision,1.0,620550528,2023,2017-04-30,2017,4,30
4,Nov,Toyota,Urban,Jan,Male,Married,Policy Holder,Sedan,28016,400.0,...,no change,1 vehicle,Collision,1.0,795966429,2023,2017-05-21,2017,5,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20331,Jul,Honda,Urban,Sep,Male,Single,Policy Holder,Sport,88143,400.0,...,no change,1 vehicle,Collision,1.0,683925155,2023,2019-09-19,2019,9,19
20332,Oct,Mazda,Urban,Oct,Male,Married,Policy Holder,Sedan,23974,400.0,...,no change,1 vehicle,Collision,0.0,138228689,2023,2019-01-01,2019,1,1
20333,Jun,Toyota,Urban,Jun,Male,Single,Policy Holder,Sedan,25219,400.0,...,no change,1 vehicle,Collision,0.0,462914269,2023,2021-05-22,2021,5,22
20334,Feb,Pontiac,Urban,Feb,Male,Married,Third Party,Sedan,21030,400.0,...,no change,1 vehicle,All Perils,0.0,700855583,2023,2016-09-17,2016,9,17
20335,Feb,Pontiac,Urban,Feb,Male,Married,Policy Holder,Sport,23455,400.0,...,no change,1 vehicle,Liability,0.0,670328149,2023,2018-02-22,2018,2,22

In [8]:
# Locate the rows where "DriverRating" is equal to -2
rows_to_update = df['DriverRating'] == -2

# Update the values in the "DriverRating" column where condition is True
df.loc[rows_to_update, 'DriverRating'] = 2

# Print the DataFrame to verify the change
print(df)

      Month     Make AccidentArea MonthClaimed   Sex MaritalStatus  \
0       Jul    Honda        Urban          Sep  Male        Single
1       Jul    Honda        Rural          Jan  Male       Married
2       Jul    Honda        Urban          Aug  Male       Married
3       Nov    Honda        Urban          Jan  Male        Single
4       Nov   Toyota        Urban          Jan  Male       Married
...     ...      ...          ...          ...   ...           ...
20331   Jul    Honda        Urban          Sep  Male        Single
20332   Oct    Mazda        Urban          Oct  Male       Married
20333   Jun   Toyota        Urban          Jun  Male        Single
20334   Feb  Pontiac        Urban          Feb  Male       Married
20335   Feb  Pontiac        Urban          Feb  Male       Married

               Fault VehicleCategory  VehiclePrice  Deductible  ...  \
0      Policy Holder           Sedan         96494       400.0  ...
1      Policy Holder           Sport         89807       400.0  ...
2      Policy Holder           Sedan         25517       400.0  ...
3      Policy Holder           Sport         70903       400.0  ...
4      Policy Holder           Sedan         28016       400.0  ...
...              ...             ...           ...         ...  ...
20331  Policy Holder           Sport         88143       400.0  ...
20332  Policy Holder           Sedan         23974       400.0  ...
20333  Policy Holder           Sedan         25219       400.0  ...
20334    Third Party           Sedan         21030       400.0  ...
20335  Policy Holder           Sport         23455       400.0  ...

       AddressChange_Claim NumberOfCars  BasePolicy FraudFound_P PolicyNumber  \
0                no change    1 vehicle  All Perils          1.0    509343533
1                no change    1 vehicle   Collision          1.0    600000326
2                no change    1 vehicle   Collision          1.0    935545676
3                no change    1 vehicle   Collision          1.0    620550528
4                no change    1 vehicle   Collision          1.0    795966429
...                    ...          ...         ...          ...          ...
20331            no change    1 vehicle   Collision          1.0    683925155
20332            no change    1 vehicle   Collision          0.0    138228689
20333            no change    1 vehicle   Collision          0.0    462914269
20334            no change    1 vehicle  All Perils          0.0    700855583
20335            no change    1 vehicle   Liability          0.0    670328149

       Year RegistrationDate RegistrationDate_Year RegistrationDate_Month  \
0      2023       2023-01-05                  2023                      1
1      2023       2020-11-09                  2020                     11
2      2023       2016-02-24                  2016                      2
3      2023       2017-04-30                  2017                      4
4      2023       2017-05-21                  2017                      5
...     ...              ...                   ...                    ...
20331  2023       2019-09-19                  2019                      9
20332  2023       2019-01-01                  2019                      1
20333  2023       2021-05-22                  2021                      5
20334  2023       2016-09-17                  2016                      9
20335  2023       2018-02-22                  2018                      2

      RegistrationDate_Day
0                        5
1                        9
2                       24
3                       30
4                       21
...                    ...
20331                   19
20332                    1
20333                   22
20334                   17
20335                   22

[19853 rows x 28 columns]

In [9]:
# Find duplicates in the 'PolicyNumber' column
duplicate_policy_numbers = df[df.duplicated(subset='PolicyNumber', keep=False)]

# Display data of policyholders with duplicate policy numbers
print("Data of Policyholders with Duplicate Policy Numbers:")
print(duplicate_policy_numbers)

import pandas as pd

# Assuming df is your DataFrame containing policy information
# Assuming 'PolicyNumber' and 'Sex' are relevant columns

# Find duplicates in the 'PolicyNumber' column
duplicate_policy_numbers = df[df.duplicated(subset='PolicyNumber', keep=False)]

# Group by 'PolicyNumber' and check if 'Sex' values are consistent within each group
consistent_sex = duplicate_policy_numbers.groupby('PolicyNumber')['MaritalStatus'].apply(lambda x: x.nunique() == 1)

# Display policy numbers where the sex is not consistent across duplicates
inconsistent_policy_numbers = consistent_sex[consistent_sex == False].index.tolist()
print("Policy Numbers with Inconsistent MaritalStatus:")
print(inconsistent_policy_numbers)

# If there are any inconsistent policy numbers, you can further analyze the data
if inconsistent_policy_numbers:
    inconsistent_data = duplicate_policy_numbers[duplicate_policy_numbers['PolicyNumber'].isin(inconsistent_policy_numbers)]
    print("\nData of Policyholders with Inconsistent MaritalStatus:")
    print(inconsistent_data)
else:
    print("\nAll policy numbers have consistent MaritalStatus across duplicates.")

Data of Policyholders with Duplicate Policy Numbers:
      Month     Make AccidentArea MonthClaimed     Sex MaritalStatus  \
121     Mar    Honda        Urban          Mar    Male        Single
394     Aug   Toyota        Urban          Sep  Female       Married
821     Jul    Honda        Urban          Sep    Male        Single
1683    Mar    Mazda        Urban          Mar  Female       Married
1745    Aug    Honda        Urban          Aug  Female       Married
...     ...      ...          ...          ...     ...           ...
20331   Jul    Honda        Urban          Sep    Male        Single
20332   Oct    Mazda        Urban          Oct    Male       Married
20333   Jun   Toyota        Urban          Jun    Male        Single
20334   Feb  Pontiac        Urban          Feb    Male       Married
20335   Feb  Pontiac        Urban          Feb    Male       Married

               Fault VehicleCategory  VehiclePrice  Deductible  ...  \
121    Policy Holder           Sport         99835       400.0  ...
394    Policy Holder           Sedan         23722       400.0  ...
821    Policy Holder           Sport         88143       400.0  ...
1683     Third Party           Sedan         32181       400.0  ...
1745   Policy Holder           Sedan         33922       400.0  ...
...              ...             ...           ...         ...  ...
20331  Policy Holder           Sport         88143       400.0  ...
20332  Policy Holder           Sedan         23974       400.0  ...
20333  Policy Holder           Sedan         25219       400.0  ...
20334    Third Party           Sedan         21030       400.0  ...
20335  Policy Holder           Sport         23455       400.0  ...

       AddressChange_Claim NumberOfCars  BasePolicy FraudFound_P PolicyNumber  \
121              no change    1 vehicle   Collision          1.0    899752526
394              no change    1 vehicle  All Perils          1.0    463294628
821              no change    1 vehicle   Collision          1.0    683925155
1683             no change    1 vehicle  All Perils          0.0    659696912
1745          4 to 8 years   2 vehicles  All Perils          0.0    638520848
...                    ...          ...         ...          ...          ...
20331            no change    1 vehicle   Collision          1.0    683925155
20332            no change    1 vehicle   Collision          0.0    138228689
20333            no change    1 vehicle   Collision          0.0    462914269
20334            no change    1 vehicle  All Perils          0.0    700855583
20335            no change    1 vehicle   Liability          0.0    670328149

       Year RegistrationDate RegistrationDate_Year RegistrationDate_Month  \
121    2023       2021-12-14                  2021                     12
394    2023       2017-08-24                  2017                      8
821    2023       2019-09-19                  2019                      9
1683   2023       2016-11-07                  2016                     11
1745   2023       2017-04-25                  2017                      4
...     ...              ...                   ...                    ...
20331  2023       2019-09-19                  2019                      9
20332  2023       2019-01-01                  2019                      1
20333  2023       2021-05-22                  2021                      5
20334  2023       2016-09-17                  2016                      9
20335  2023       2018-02-22                  2018                      2

      RegistrationDate_Day
121                     14
394                     24
821                     19
1683                     7
1745                    25
...                    ...
20331                   19
20332                    1
20333                   22
20334                   17
20335                   22

[80 rows x 28 columns]
Policy Numbers with Inconsistent MaritalStatus:
[237575348]

Data of Policyholders with Inconsistent MaritalStatus:
      Month   Make AccidentArea MonthClaimed   Sex MaritalStatus  \
15989   Apr  Mazda        Urban          May  Male        Single
19835   Sep  Mazda        Urban          Sep  Male       Married

               Fault VehicleCategory  VehiclePrice  Deductible  ...  \
15989  Policy Holder           Sedan         22884       400.0  ...
19835  Policy Holder           Sedan         26235       400.0  ...

       AddressChange_Claim NumberOfCars BasePolicy FraudFound_P PolicyNumber  \
15989            no change    1 vehicle  Collision          1.0    237575348
19835            no change    1 vehicle  Collision          1.0    237575348

       Year RegistrationDate RegistrationDate_Year RegistrationDate_Month  \
15989  2023       2018-05-15                  2018                      5
19835  2023       2019-04-01                  2019                      4

      RegistrationDate_Day
15989                   15
19835                    1

[2 rows x 28 columns]

In [10]:
df = df[df['PolicyNumber'] != 237575348]

In [11]:
# We also remove the policy number column and year column

df = df.drop(columns=['Year','PolicyNumber'])
df

,Month,Make,AccidentArea,MonthClaimed,Sex,MaritalStatus,Fault,VehicleCategory,VehiclePrice,Deductible,...,WitnessPresent,AgentType,AddressChange_Claim,NumberOfCars,BasePolicy,FraudFound_P,RegistrationDate,RegistrationDate_Year,RegistrationDate_Month,RegistrationDate_Day
0,Jul,Honda,Urban,Sep,Male,Single,Policy Holder,Sedan,96494,400.0,...,No,External,no change,1 vehicle,All Perils,1.0,2023-01-05,2023,1,5
1,Jul,Honda,Rural,Jan,Male,Married,Policy Holder,Sport,89807,400.0,...,No,External,no change,1 vehicle,Collision,1.0,2020-11-09,2020,11,9
2,Jul,Honda,Urban,Aug,Male,Married,Policy Holder,Sedan,25517,400.0,...,No,External,no change,1 vehicle,Collision,1.0,2016-02-24,2016,2,24
3,Nov,Honda,Urban,Jan,Male,Single,Policy Holder,Sport,70903,400.0,...,No,External,no change,1 vehicle,Collision,1.0,2017-04-30,2017,4,30
4,Nov,Toyota,Urban,Jan,Male,Married,Policy Holder,Sedan,28016,400.0,...,No,External,no change,1 vehicle,Collision,1.0,2017-05-21,2017,5,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20331,Jul,Honda,Urban,Sep,Male,Single,Policy Holder,Sport,88143,400.0,...,No,External,no change,1 vehicle,Collision,1.0,2019-09-19,2019,9,19
20332,Oct,Mazda,Urban,Oct,Male,Married,Policy Holder,Sedan,23974,400.0,...,No,External,no change,1 vehicle,Collision,0.0,2019-01-01,2019,1,1
20333,Jun,Toyota,Urban,Jun,Male,Single,Policy Holder,Sedan,25219,400.0,...,No,External,no change,1 vehicle,Collision,0.0,2021-05-22,2021,5,22
20334,Feb,Pontiac,Urban,Feb,Male,Married,Third Party,Sedan,21030,400.0,...,No,External,no change,1 vehicle,All Perils,0.0,2016-09-17,2016,9,17
20335,Feb,Pontiac,Urban,Feb,Male,Married,Policy Holder,Sport,23455,400.0,...,No,External,no change,1 vehicle,Liability,0.0,2018-02-22,2018,2,22

In [12]:
print(df.isnull().values.any())

False

In [13]:
# Export the clean dataset to a cvs

df.to_csv('clean_dataset_fraud_claims.csv', index=False)